.apod-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #474a4f;
  border-radius: 20px;
}
.apod-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.apod-content img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.apod-content iframe {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.apod-content h2 {
  font-size: 20px;
  color: white;
}
.apod-content button {
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}
.apod-content button:hover {
  background-color: #3a3d40;
  color: white;
}
/* media Q */
@media screen and (max-width: 768px) {
  .apod-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .apod-content button {
    width: 100%;
  }
  .apod-content img {
    width: 100%;
  }
  .apod-content iframe {
    width: 100%;
  }
  .apod-content p {
    text-align: justify;
  }
}
