.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  max-width: 1200px;
  margin: 0 auto;
  background-color: red;
}
.root-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: #282c34;
  color: white;
  width: 100%;
}
/* Date Picker */
.date-picker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #444;
  padding: 20px;
  margin: 20px 0;
}
.date-picker input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #9e9e9f;
  font-size: 16px;
  width: fit-content;
  min-width: 160px;
  cursor: pointer;
}
