@import './css/root-page.css';
@import './css/favorite.css';
@import './css/navigations.css';

body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  background-color: #282c34;
  color: white;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
}
.favorites-container {
  border-top: 1px solid #444;
}
.apod-error {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  color: tomato;
  background-color: #474a4f;
  border: 1px solid tomato;
  height: fit-content;
}
.apod-loading {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}
/* app transitions */
* {
  transition: all 0.3s ease;
}
/* media Q */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .sidebar {
    display: none;
  }
}
